<!-- Top Navigation -->
<app-navbar></app-navbar>
<!-- Content -->
<div class="main-panel">

    <app-top-navbar [navbarTitle]="this.activatedRoute.snapshot.data.navbarTitle"></app-top-navbar>
    <!-- End Navbar -->

    <div class="content" style="margin-top: 100px">
        <div class="container-fluid">
            <div class="row justify-content-md-center">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title">{{ titulo }}</h4>
                            <p class="card-category">Completar los datos</p>
                        </div>
                        <div class="card-body">
                            <form [formGroup]="formulario" (ngSubmit)="editando ? modificarAdmin() : crearAdmin()">
                                <div class="row">
                                    <div class="col-md-9">
                                        <div class="form-group" [ngClass]="{ 'has-danger': !formulario.controls['nombre_usuario'].valid }">
                                            <label for="nombre_usuario">Nombre usuario*</label>
                                            <input formControlName="nombre_usuario" type="text" class="form-control">
                                            <div *ngIf="formulario.controls['nombre_usuario'].errors?.required && advertirObligatorios" class="text-danger">
                                                Este es un campo requerido
                                            </div>
                                            <div *ngIf="formulario.controls['nombre_usuario'].errors?.minlength" class="text-danger">
                                                Este campo debe tener por lo menos 3 caracteres
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br *ngIf="!editando">
                                <div *ngIf="!editando" class="row">
                                    <div class="col-md-9">
                                        <div class="form-group" [ngClass]="{ 'has-danger': !formulario.controls['password_nuevo'].valid }">
                                            <label for="password_nuevo">Password*</label>
                                            <input formControlName="password_nuevo" type="password" class="form-control">
                                            <div *ngIf="formulario.controls['password_nuevo'].errors?.required && advertirObligatorios" class="text-danger">
                                                Este es un campo requerido
                                            </div>
                                            <div *ngIf="formulario.controls['password_nuevo'].errors?.minlength" class="text-danger">
                                                Este campo debe tener por lo menos 7 caracteres
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br *ngIf="!editando">
                                <div *ngIf="!editando" class="row">
                                    <div class="col-md-9">
                                        <div class="form-group" [ngClass]="{ 'has-danger': !formulario.controls['password_repetir_nuevo'].valid }">
                                            <label for="password_repetir_nuevo">Repetir password*</label>
                                            <input formControlName="password_repetir_nuevo" type="password" class="form-control">
                                            <div *ngIf="formulario.controls['password_repetir_nuevo'].errors?.required && advertirObligatorios" class="text-danger">
                                                Este es un campo requerido
                                            </div>
                                            <div *ngIf="formulario.controls['password_repetir_nuevo'].errors?.minlength" class="text-danger">
                                                Este campo debe tener por lo menos 7 caracteres
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <button class="btn btn-primary pull-right">Guardar</button>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-footer></app-footer>
</div>